<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Keep Accounts - ${title}</title>
        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <script type="text/javascript" src="/javascripts/jquery-1.9.1.js"></script>
        <script type="text/javascript" src="/javascripts/jquery.validate.js"></script>
        <script type="text/javascript" src="/javascripts/knockout-2.2.1.js"></script>
        <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
        <script type="text/javascript" src="/javascripts/highcharts.js"></script>
        <script type="text/javascript" src="/javascripts/exporting.js"></script>
        <style>
            body {
                padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
            }
        </style>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="#">Keep Accounts</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="active"><a href="/">Home</a></li>
                            <li><a href="/recent">Recent</a></li>
                            <li><a href="/yearstatistic">Year Statistic</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            {{html body}}
        </div>
    </body>
</html>	