@charset "utf-8"; 
body {margin:0; padding:0;color: #484f5a; font-family:  "Helvetica Neue",Helvetica,Arial,sans-serif, '宋体', Times, serif;}

/* all style */
a {color: #2970A6;text-decoration: none;}
a:hover{color:#2970A6;text-decoration: underline;}
ul,li,h1,h2,h3,h4,h5,h6,form,hr,p{padding:0px; margin:0px;}
ul{list-style:none;}
img{border:none;}
.fb{font-weight:bold;}
.fl{float:left;}
.fr{float:right;}
.tl{ text-align:left;}
.tr{text-align:right;}
.clear{clear:both;}
.db{display:block;}
.dn{display:none;}
.blue{color:#26AAE1;}
.red{color:#D91D3F;}
.gray{color:Gray;}

.content{padding:20px;}
.content div{width:100px; float:left;}
.content li#title{font-weight:bold;}

/*grid or form input required error*/
select.error ,input.error { border: 1px solid red; background-color: #FDC; }
textarea.error { border: 1px solid red; background-color: #FDC; }
label.error{color:#be0000;background: url(/Content/images/sprite.png) no-repeat 5px -716px;margin: 0 0 1px;padding: 2px 0px 2px 0px;}
