{{layout "layout"}}

<script type="text/javascript">
    String.prototype.Format = function () {
        var fmt = "yyyy-MM-dd";
        var myDate = ConvertJsonDate(this);
        var o = {
            "M+": myDate.getMonth() + 1,
            "d+": myDate.getDate(),
            "h+": myDate.getHours(),
            "m+": myDate.getMinutes(),
            "s+": myDate.getSeconds(),
            "q+": Math.floor((myDate.getMonth() + 3) / 3),
            "S": myDate.getMilliseconds()
        };
        if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (myDate.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    };

    Date.prototype.Format = function () {
        var fmt = "yyyy-MM-dd";
        var myDate = this;
        var o = {
            "M+": myDate.getMonth() + 1,
            "d+": myDate.getDate(),
            "h+": myDate.getHours(),
            "m+": myDate.getMinutes(),
            "s+": myDate.getSeconds(),
            "q+": Math.floor((myDate.getMonth() + 3) / 3),
            "S": myDate.getMilliseconds()
        };
        if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (myDate.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    };
    
    function ConvertJsonDate(jsondate) {
        jsondate = jsondate.replace("/Date(", "").replace(")/", "");
        if (jsondate.indexOf("+") > 0) {
            jsondate = jsondate.substring(0, jsondate.indexOf("+"));
        } else if (jsondate.indexOf("-") > 0) {
            jsondate = jsondate.substring(0, jsondate.indexOf("-"));
        }
        return new Date(parseInt(jsondate, 10));
    }
    
    function IsNum(s) {
        if (s != null && s != "") {
            return !isNaN(s);
        }
        return false;
    }

    function itemRefresh(list, entity) {
        var i = list().indexOf(entity);
        list.remove(entity);
        list.splice(i, 0, entity);
    }
    
    function ViewModel() {
        var self = this;
        self.existingList = ko.observableArray();
        self.majorCategories = ko.observable();
        self.subCategories = ko.observable();
        self.originalData = ko.observable();
        self.itemsCategory = ko.observableArray();
        self.list = ko.observableArray();
        self.currentMonth = ko.observable((new Date()).getMonth()+1);

        self.add = function() {
            self.list.push(self.createItem());
        };

        self.save = function () {
            var items = [];
            ko.utils.arrayForEach(self.list(), function (o) {
                items.push({
                    type: o.selectedType(),
                    majorCategory: o.selectedMajorCategory(),
                    subCategory: o.selectedSubCategory(),
                    "Desc": o.Desc,
                    "Money": o.Money,
                    "Date": o.Date
                });
            });
            
            var qureystring = "items=" + ko.toJSON(items).replace(/&/g, "%26");
            $.post("/data/additems", qureystring, null, "json")
                .done(function (o) {
                    $.getJSON('/data/list', self.existingList);
                    self.list.removeAll();
                });
        };

        self.generate = function() {
            var array = self.originalData().split('\n');
            var day;
            ko.utils.arrayForEach(array, function(data) {
                if (IsNum(data)) {
                    day = new Date();
                    day.setDate(data);
                    day.setMonth(self.currentMonth() - 1);
                    alert(self.currentMonth());
                    alert(day);
                } else {
                    var index = 0;
                    var desc, money;
                    ko.utils.arrayForEach(data, function(c) {
                        if (IsNum(c)) {
                            desc = data.substring(0, index);
                            money = data.substring(index);
                        } else {
                            index++;
                        }
                    });

                    var item = self.createItem();

                    item.Desc = desc;
                    item.Money = money;
                    item.Date = day.Format();

                    self.list.push(item);
                }
            });
            self.originalData('');
            $('#myModal').modal('toggle');
        };

        self.analysis = function() {
            ko.utils.arrayForEach(self.list(), function (item) {
                ko.utils.arrayForEach(self.itemsCategory(), function (categoryItem) {
                    if (item.Desc == categoryItem.Description) {
                        item.selectedType(categoryItem.typeId);
                        item.selectedMajorCategory(categoryItem.MajorCategoryId);
                        item.selectedSubCategory(categoryItem.SubCategoryId);
                        itemRefresh(self.list, item);
                    }
                });
            });
        };

        self.createItem = function() {
            var item = {
                "Desc": '',
                "Money": '',
                "Date": '',
                "selectedType": ko.observable(1),
                "selectedMajorCategory": ko.observable(),
                "selectedSubCategory": ko.observable(),
                optionalMajorCategories: ko.observableArray(),
                optionalSubCategories: ko.observableArray()
            };

            item.selectedType.subscribe(function(newValue) {
                var list = [];
                list.unshift({});
                ko.utils.arrayForEach(self.majorCategories(), function (o) {
                    if (newValue == o.Type) {
                        list.push(o);
                    }
                });
                item.optionalMajorCategories(list);
            });

            item.selectedMajorCategory.subscribe(function(newValue) {
                var list = [];
                list.unshift({});
                ko.utils.arrayForEach(self.subCategories(), function (o) {
                    if (newValue == o.MajorId) {
                        list.push(o);
                    }
                });
                item.optionalSubCategories(list);
            });

            return item;
        };

        $.getJSON('/data/list', self.existingList);
        $.getJSON('/data/itemsCategory', self.itemsCategory);
        $.getJSON('/data/majorCategory', self.majorCategories)
            .done(function() {
                $.getJSON('/data/subCategory', self.subCategories);
            });

        $("form").validate({ submitHandler: self.save });
    }

    $(document).ready(function () {
        ko.applyBindings(new ViewModel());
    });
</script>
<form>
    <table class="table" style="width:658px;">
        <thead>
            <tr>
                <th>Date</th>
                <th>Type</th>
                <th>Major</th>
                <th>Sub</th>
                <th>Desc</th>
                <th>Money</th>
            </tr>
        </thead>
        <tbody>
            <!-- ko foreach: existingList -->
            <tr data-bind="css: $data.type == '收入' ? 'success' : 'warning'">
                <td style="width:110px;" data-bind="html: $data.Date"></td>
                <td style="width:96px;" data-bind="html: $data.type"></td>
                <td style="width:116px;" data-bind="html: $data.MajorCategoryName"></td>
                <td style="width:116px;" data-bind="html: $data.SubCategoryCode"></td>
                <td style="width:110px;" data-bind="html: $data.Description"></td>
                <td style="width:110px;" data-bind="html: $data.Money"></td>
            </tr>
            <!-- /ko -->
            <!-- ko foreach: list -->
            <tr>
                <td><input class='required dateISO' type="text" style="width:80px;" data-bind="value: $data.Date, uniqueName: true"/></td>
                <td>
                    <select style="width:80px;" data-bind="value: $data.Type, value: $data.selectedType">
                        <option value="1">支出</option>
                        <option value="0">收入</option>
                    </select>
                </td>
                <td>
                    <select class='required' style="width:100px;" data-bind="options: $data.optionalMajorCategories(), optionsText: 'Name', optionsValue: 'Id', value: $data.selectedMajorCategory, uniqueName: true">
                    </select>
                </td>
                <td>
                    <select class='required' style="width:100px;" data-bind="options: $data.optionalSubCategories(), optionsText: 'Name', optionsValue: 'Id', value: $data.selectedSubCategory, uniqueName: true">
                    </select>
                </td>
                <td><input class='required' type="text" style="width:80px;" data-bind="value: $data.Desc, uniqueName: true"/></td>
                <td><input class='required number' type="text" style="width:80px;" data-bind="value: $data.Money, uniqueName: true"/></td>
            </tr>
            <!-- /ko -->
        </tbody>
    </table>
    <div>
        <input type="button" value="Add" data-bind="click: add" class="btn" />
        <input type="submit" value="Save" class="btn btn-primary" />
        <a href="#myModal" role="button" class="btn btn-success" data-toggle="modal">Generate</a>
        <input type="button" value="Analysis" data-bind="click: analysis" class="btn btn-warning" />
    </div>
</form>

<!-- Button to trigger modal -->
 
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Generate dialog</h3>
  </div>
    <div class="modal-body">
        <p><input data-bind="value:currentMonth"/></p>
        <p><textarea rows="10" style="width: 510px;" data-bind="value: originalData"></textarea></p>
    </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-success" data-bind="click: generate" aria-hidden="true">Generate</button>
  </div>
</div>