{{layout "layout"}}

<script type="text/javascript">
    function initChart(x, income, payment, balance, incomedatatotal, paymentdatatotal, balancetotal) {
        $('#container').highcharts({
            chart: {
                type: 'line',
                marginRight: 40,
                marginBottom: 50
            },
            title: {
                text: 'Keep Accounts',
                x: -20
            },
            subtitle: {
                text: "<b>Income:</b>¥" + incomedatatotal + " <b>Payment:</b>¥" + paymentdatatotal + " <b>Balance:</b>¥" + balancetotal,
                x: -20
            },
            xAxis: {
                categories: x,
                labels: {
                    enabled: true,
                    rotation: -45,
                    color: '#FFFFFF',
                    align: 'right',
                    x: 4,
                    y: 10,
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            },
            yAxis: {
                title: { text: 'Amount' },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valuePrefix: '¥'
            },
            legend: {
                layout: 'vertical',
                align: 'left',
                x: 80,
                verticalAlign: 'top',
                y: 50,
                floating: true,
                backgroundColor: '#FFFFFF'
            },
            series: [ {
                type: 'column',
                name: 'balance',
                data: balance,
                color: "#ffdede"
            },{
                name: 'Income',
                data: income,
                color: "#21a675"
            }, {
                name: 'Payment',
                data: payment,
                color: "#dc6200"
            }]
        });
    }

    $(document).ready(function () {
        $.getJSON('/data/income', function (income) {
            $.getJSON('/data/payment', function (payment) {
                var x = [];
                var incomedata = [];
                var incomedatatotal = 0;
                var paymentdata = [];
                var paymentdatatotal = 0;
                var balance = [];
                var balancetotal = 0;

                ko.utils.arrayForEach(income, function (data) {
                    var i = income.indexOf(data);
                    x.push(data.date);
                    incomedata.push(data.amount);
                    paymentdata.push(payment[i].amount);
                    balance.push(data.amount - payment[i].amount);
                    incomedatatotal += data.amount;
                    paymentdatatotal += payment[i].amount;
                    balancetotal += (data.amount - payment[i].amount);
                });
               
                initChart(x, incomedata, paymentdata, balance, incomedatatotal, paymentdatatotal, balancetotal);
            });
        });
    });
</script>

<div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>